<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">
                    <%= render "shared/logo.svg" %>
                    <!-- This is website logo -->
                </a>
                <!-- Navigation button, visible on small resolution -->
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-menu"></i>
                </button>
                <!-- Main navigation -->
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav" id="top-navigation">
                        <li class="active"><a href="/">Back to Home</a></li>
                    </ul>
                </div>
                <!-- End main navigation -->
            </div>
        </div>
    </div>
    <!-- Start home section -->

    <!-- End home section -->
    <!-- Service section start -->

    <!-- Service section end -->
    <!-- Portfolio section start -->
    <div class="section secondary-section " id="portfolio">
        <div class="triangle"></div>
        <div class="container">
            <div class=" title">
                <h1>Have You Seen our Works?</h1>
                <p>The best combination of the passion, technology and client satisfaction, one could possibly expect.</p>
            </div>

            <!-- Start details for portfolio project 1 -->
            <div id="single-project">
                <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "3.png", alt: "project 1" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Design & Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>HTML5, CSS3, JavaScript,bootstrap</div>
                            </div>
                            <p>Designed a responsive order management dashboard for web panel. It provides a lot of features to Admin.
                            Admin can mange all the orders he receives. He can see different sort of real time reports. It is a powerful tool to have.
                            A Classified app supports all countries and 9 languages. 

                            Features:
                            -Post/delete/update/search ads country wise, city wise and user area wise. 
                            -Search/Advance Search -9 Languages support 
                            -Ad sharing -User profiling and much more</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 1 -->
                <!-- Start details for portfolio project 2 -->
                <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "7.png", alt: "project 2" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Client</span>SHAWAMS</div>
                                <div>
                                    <span>Skills</span> android-app-development, iphone-ui-design, iphone-app-development, ios-development, android-sdk, android</div>
                                <div>
                                    <span>Link</span>https://play.google.com/store/apps/details?id=shawams.com 
                                                https://itunes.apple.com/us/app/shawams-ads/id619708772?mt=8</div>
                            </div>
                            <p>Features:
                                -post/deleter/update/search ads country wise, city wise and user area wise.
                                -Search/Advance Search
                                -9 Languages support
                                -Ad sharing
                                -User profiling and much more.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 2 -->
                <!-- Start details for portfolio project 3 -->
                <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "1.png", alt: "project 3" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span> email-handling, payment-gateway-integration, payment-processing, ajax, jquery, javascript, css, psd-to-html, html, ruby-on-rails</div>
                            </div>
                            <p>An eCommerce project for mobile doors. This application have all the features an eCommerce should have. From payment to delivery system all automated systems exists.
                            Major functionalities: <br>
                            -- Calling<br> 
                            -- Mailing <br>
                            -- Search contact <br>
                            -- Design of the app. </p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 3 -->
                <!-- Start details for portfolio project 4 -->
                <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "9.png", alt: "project 4" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Application</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span> jquery, ajax, javascript, css3, psd-to-html, html5</div>
                            </div>
                            <p>Website Design made for a local business having the accessories required by a fire fighters. They are a trusted vendors with local fire deartment</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 4 -->
                <!-- Start details for portfolio project 5 -->
                <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "8.png", alt: "project 5" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Client</span>Flagify</div>
                                <div>
                                    <span>Skills</span> android-app-development, iphone-ui-design, iphone-app-development, ios-development, android-sdk, android</div>
                                <div>
                                    <span>Link</span>https://itunes.apple.com/pk/app/flagify/id1026215445?mt=8 
                                    https://play.google.com/store/apps/details?id=com.app.android.flagify </div>
                            </div>
                            <p>This application allow user to select an image and then provides list of flags, User can select a flag and that flag added in front of user's DP. It also allows users to add hashtag and change opacity of flag.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 5 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "6.png", alt: "project 6" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile & Web Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">                                    
                                <div>
                                    <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                                <div>
                                    <span>Link</span>https://play.google.com/store/apps/details?id=com.app.gratis.nummer</div>
                            </div>
                            <p>This application allows user to add selected numbers of some Norwegians company, It also allow user to add those numbers to favorite and some other features too. 

                            Google Admob is integrated in free version for displaying ads.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "Portfolio07.png", alt: "project 7" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Suavistech</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">                                    
                                <div>
                                    <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                                <div>
                                    <span>Link</span>https://play.google.com/store/apps/details?id=com.phaedrasolutions.qiblafinder</div>
                            </div>
                            <p>Very handy application helpful for the users when they travel with core features which are
                                --Allow users to know about right direction of Qibla(Khana Ka'aba).
                                -- Notify about the time of Prayer(Namaz);
                                -- Allow users to edit notification time. User can add time for Jamaat. </p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "Portfolio08.png", alt: "project 8" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">                                    
                                <div>
                                    <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                                <div>
                                    <span>Link</span>https://play.google.com/store/apps/details?id=com.plainrandom.wafaa</div>
                            </div>
                            <p>Client's requirement were to develop an application which can help user to get latest announcements from the Imaam of mosque. Imaam uses "iWafa" application to make announcement you will find that in my portfolio. 

                            I have used parse.com as a backend.

                            Facebook SDK for sharing at facebook page. 

                            User can see the new announcements.

                            User can follow an Imaam to get push notifications.

                            instabug is used for sending feedbacks</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "Portfolio09.png", alt: "project 9" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>api-documentation, ui-design, twitter-bootstrap, javascript, jquery, css, html, github, heroku, ruby-on-rails</div>
                            </div>
                            <p>This project is a small questionnaire where a user happiness is marked. It just ask about the places which makes user happy</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv9" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "10.png", alt: "project 10" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>api-documentation, ui-design, twitter-bootstrap, javascript, jquery, css, html, github, heroku, ruby-on-rails</div>
                            </div>
                            <p>This project helps patients especially pregnant women to get medical suggestions. Patient has to specify different parameters i.e their conditions like weight, age etc in order to get the medical suggestions. </p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv10" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "Portfolio11.png", alt: "project 11" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Development/Mobile App</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>HTML5, CSS3, JavaScript , ruby-on-rails , api-documentation, ui-design, twitter-bootstrap</div>
                            </div>
                            <p>On GeoPlay, you use a map to see into places near you and around the world. When you select a location, you’ll see photos and videos uploaded by people like you at those places in the last 24-hours giving you a good idea of what a place is like and what’s going on around you.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv11" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "Portfolio12.png", alt: "project 12" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Application</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                            </div>
                            <p>Client asked us to design and build this app. We have presented him the design and he really like those. Development part is left, Which we will start later on.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- Start details for portfolio project 6 -->
                <div id="slidingDiv12" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "123.png", alt: "project 13" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Web Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>iOS, Swift,Facebook API, LinkedIn API, Web Services</div>
                                <div>
                                    <span>Link</span>http://mod-web.herokuapp.com</div>
                            </div>
                            <p>Coming Soon...</p>
                        </div>
                    </div>
                </div>
                <div id="slidingDiv13" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "ab-1.png", alt: "project 14" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>HTML5, CSS3, JavaScript,facebook-api,react.js</div>
                            </div>
                            <p>Coming Soon...</p>
                        </div>
                    </div>
                </div>
                <div id="slidingDiv14" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "ab-2.png", alt: "project 15" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                    <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse-sdk</div>
                                <div>
                                    <span>Link</span>https://play.google.com/store/apps/details?id=suavistech.com.app.fifa&hl=en</div>
                            </div>
                            <p>A user friendly application to record score of every FIFA game. You can also check some stats for each game you played in the past.</p>
                        </div>
                    </div>
                </div>
                <div id="slidingDiv15" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "14.png", alt: "project 16" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                  <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                            </div>
                            <p>A form based Canon Xposure application is developed for canon digital team. They use this application at different events and take survey from people at events.</p>
                        </div>
                    </div>
                </div>
                <div id="slidingDiv16" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "portfolio-a1.png", alt: "project 17" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Android TV Application</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div><span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                            </div>
                            <p>This application is user interface of the Smart TV. Allows user to get access to their favorite channels at one click. It uses android sdk and lean back library</p>
                        </div>
                    </div>
                </div>
                <div id="slidingDiv17" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <%= image_tag "portfolio-18a.png", alt: "project 18" %>
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>Mobile Development</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <div>
                                  <span>Skills</span>facebook-api, android-app-development, android-sdk, android, parse</div>
                            </div>
                            <p>A form based Canon Onsite Registration application is developed to track different surveys and organise their events. It helps canon team to register different users based on their interest in camera digital market.</p>
                        </div>
                    </div>
                </div>
                <!-- End details for portfolio project 6 -->
                <!-- End details for portfolio project 6 -->
                <ul id="portfolio-grid" class="thumbnails row">
                    <li class="span4 mix web">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio01.png", alt: "project 1" %>
                            <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Design & Development</h3>
                            <p>Order Dashboard</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "porftfolio-18.png", alt: "project 18" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv17">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Application</h3>
                            <p>Canon</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio11.png", alt: "project 11" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv10">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web & Mobile Application</h3>
                            <p>Geo Play</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    
                    <li class="span4 mix web">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio04.png", alt: "project 4" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Application</h3>
                            <p>Total Fire</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio13.png", alt: "project 13" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv12">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Application</h3>
                            <p>MOD.</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio03.png", alt: "project 3" %>
                            <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Application</h3>
                            <p>E-commerce</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "abcd.png", alt: "project 14" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv13">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Development </h3>
                            <p>MOD.</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio10.png", alt: "project 10" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv9">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Application</h3>
                            <p>Health app</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio06.png", alt: "project 6" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv5">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile & Web Development</h3>
                            <p>Contacts App</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "img-2.png", alt: "project 12" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv11">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Application Design</h3>
                            <p>Find Nearby Restaurant</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio15.png", alt: "project 15" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv14">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Application</h3>
                            <p>Fifa Score</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio14.jpg", alt: "project 16" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv15">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Application</h3>
                            <p>Canon</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                     <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "portfolio-a1.png", alt: "project 17" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv16">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Android TV Application</h3>
                            <p>Video Streaming Launcher</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix photo">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio02.png", alt: "project 2" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Development</h3>
                            <p>Classified Application</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix photo">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio05.png", alt: "project 5" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Development</h3>
                            <p>Flagify  App</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio09.png", alt: "project 9" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Web Application</h3>
                            <p>Happiness Application</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio07.png", alt: "project 7" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Applications</h3>
                            <p>Qibla Finder</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    <li class="span4 mix identity">
                        <div class="thumbnail">
                            <%= image_tag "Portfolio08.png", alt: "project 8" %>
                            <a href="#single-project" class="show_hide more" rel="#slidingDiv7">
                                <i class="fa fa-expand"></i>
                            </a>
                            <h3>Mobile Applications</h3>
                            <p>Wafaa Android App</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer section start -->
    <div class="footer">
        <p>&copy;Copyright 2017 Suavis Technologies</p>
    </div>
    <!-- Footer section end -->
    <!-- ScrollUp button start -->
    <div class="scrollup">
        <a href="#">
            <i class="icon-up-open"></i>
        </a>
    </div>
    <!-- ScrollUp button end -->
    <!-- Include javascript -->
</body>